img{
    width: 30%;
    /*margin:1.66%;*/
    margin: calc(10%/6)
}
nav{
    text-transform: uppercase;
    border-bottom: 2px solid  grey;
    width: 50%;
    margin-left:calc(10%/6);
    padding:20px 0px;
    font-family: 'Irish Grover', cursive;
    font-size: 20px;
}

